services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      MONGODB_URI: ${MONGODB_URI}
      SENTRY_DSN: ${SENTRY_DSN}
      REDIS_URL: redis://redis:6379
      CLOUDINARY_URL: ${CLOUDINARY_URL}  # Cloudinary config
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
