services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGODB_URI=mongodb+srv://eyobgeremew618_db_user:ReQ6HgZvApeZXSSa@eotc.afontvn.mongodb.net/EOTCBIBLE?appName=EOTC
      - SENTRY_DSN=your_sentry_dsn
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
