name: Node.js CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check Linting
        run: npm run lint

      - name: Run tests
        run: npm test
        env:
          # Minimum required vars for tests to run
          NODE_ENV: test
          JWT_SECRET: testing_secret_key
          MONGODB_URI: mongodb://localhost:27017/EOTCBIBLE_TEST

      - name: Build
        run: npm run build

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build . --file Dockerfile --tag eotcbible-be:latest
